html {
  font-size: 62.5%;
}

body {
    font-size: 2rem;
}

h1 {
    color: purple;
    font-size: 4rem;
}

th, td {
    padding: 1.5rem;
    border: 2px solid #551cff;
}

table {
    border-collapse: collapse;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    font-weight:bold;
}

.home a {
    background-color: #e8e6ef;
    padding: 1rem;
}

.home a:hover {
    background-color: #057a51;
    color: rgb(255, 255, 255);
    padding: 1rem;
}