<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
	<title>Home</title>
</head>
<body>
    <h1>Earthquakes from January 1, 2024, to December 31, 2024</h1>
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-6 large-4">
            <h1>Earthquake Locations</h1>
            <img src="/images/earthquakeMap.png" alt="A map that shows the various earthquake locations."/>
            <ul>$$$LOCATION_LIST$$$</ul>
        </div>
        
        <div class="cell small-12 medium-6 large-4">
            <h1>Earthquake Magnitudes</h1>
            <img src="/images/magnitudeChartEmpty.png" alt="An empty chart that goes from 1 to 9 that is for showing the magnitude of earthquakes."/>
            <ul>$$$MAGNITUDE_LIST$$$</ul>
        </div>
        
        <div class="cell small-12 medium-6 large-4">
            <h1>Earthquake Depths</h1>
            <img src="/images/depth.png" alt="A diagram that shows earthquake depth."/>
            <ul>$$$DEPTH_LIST$$$</ul>
        </div>
    </div>
</body>
</html>
