<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
	<title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li>To view earthquakes by location, <a href="location.html">click here.</a></li>
        <li>To view earthquakes by magnitude, <a href="magnitude.html">click here.</a></li>
        <li>To view earthquakes by depth, <a href="depth.html">click here.</a></li>
    </ul>
</body>
</html>
