<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
	<title>Home</title>
</head>
<body>
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-6 large-4">
            <h1>Earthquake Locations</h1>
            <ul>$$$LOCATION_LIST$$$</ul>
        </div>
        
        <div class="cell small-12 medium-6 large-4">
            <h1>Earthquake Magnitudes</h1>
            <ul>$$$MAGNITUDE_LIST$$$</ul>
        </div>
        
        <div class="cell small-12 medium-6 large-4">
            <h1>Earthquake Depths</h1>
            <ul>$$$DEPTH_LIST$$$</ul>
        </div>
    </div>
</body>
</html>
