<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
	<title>Location</title>
</head>
<body>
    <h1>Location</h1>
    
    <div class="nav-links">
        $$$PREV_LINK$$$ | $$$NEXT_LINK$$$
    </div>

    <p class="home">$$$HOME_LINK$$$</p>

    <h1>$$$LOCATION$$$</h1>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Depth</th>
                    <th>Magnitude</th>
                    <th>Place</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                $$$LOCATION_ROWS$$$
            </tbody>
        </table>
</body>
</html>
