<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
	<title>Magnitude</title>
</head>
<body>
    <h1>Magnitude</h1>

     <div class="nav-links">
        $$$PREV_LINK$$$ | $$$NEXT_LINK$$$
    </div>

    <p class="home">$$$HOME_LINK$$$</p>

    <h1>$$$MAGNITUDE$$$</h1>
    <p><strong>Total Earthquakes: $$$TOTAL_COUNT$$$</strong></p>

    <div class="chart-container">
        <div id="locationChart" style="width:100%; height:400px;"></div>
    </div>

    <h2>Earthquake Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Depth</th>
                    <th>Magnitude</th>
                    <th>Place</th>
                    <th>Type</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                $$$MAGNITUDE_ROWS$$$
            </tbody>
        </table>

    <script>
        // Magnitude Distribution within this range
        const magnitudes = $$$MAGNITUDES$$$;
        const magTrace = {
            x: magnitudes,
            type: 'histogram',
            marker: {
                color: '#5500ab',
                line: {
                    color: '#3d0079',
                    width: 1
                }
            },
            xbins: {
                size: 0.1
            }
        };
        const magLayout = {
            title: 'Earthquake Frequency at Different Magnitudes',
            xaxis: { title: 'Magnitude' },
            yaxis: { title: 'Number of Earthquakes' },
            bargap: 0.05
        };
        Plotly.newPlot('locationChart', [magTrace], magLayout, {responsive: true});
    </script>
</body>
</html>
